.buttons {
  text-align: center;
  margin-top: 3em;
}

.effect {
  border: none;
  color: #fff;
  padding: 20px;
  margin: 10px;
  font-size: 24px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease;
}

.effect-1::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 64px;
  background: rgba(128, 250, 128, 0.3);
  border-radius: 10px;
  transition: all 2s ease;
}

.effect-1:hover:before {
  width: 100%;
}